---
- hosts: webserver
  become: yes
  become_method: sudo

  vars:
    ansible_connection: ssh
    ansible_user: lnxserver01
    ansible_password: "{{ans_pwd}}"

  tasks:    
  - name: adding multiple users
    ansible.builtin.user:
      name: "{{ item.name }}"
      state: "{{ item.state }}"
      groups: "{{ item.group }}"
    loop: 
      - { name: 'user1', groups: 'software', state: 'present'}
      - { name: 'user2', groups: 'software', state: 'present'}
  