---
# shell module
- hosts: webserver
  become: yes
  become_method: sudo

  vars:
    ansible_connection: ssh
    ansible_user: lnxserver01
    ansible_password: "{{ ans_pwd }}"

  tasks:
  - name: linux command
    ansible.builtin.shell: cat /etc/passwd
    register: output

  - name: check the value of output
    ansible.builtin.debug:
      msg: "{{ output }}" 

  - name: print the stdoutput lines
    ansible.builtin.debug:
      msg: "{{ output.stdout_lines }}"    
