---
# register output
- hosts: webserver
  become: yes
  become_method: sudo

  vars:
    ansible_connection: ssh
    ansible_user: lnxserver01
    ansible_password: "{{ ans_pwd }}"

  tasks:
  - name: register output of creating file
    ansible.builtin.shell: mkdir /tmp/roles
    register: output

  - name: checking the value of registered output
    ansible.builtin.debug:
      msg: "{{ output }}"     